<%@ Master Language="C#" MasterPageFile="~/SiteMenu.master" AutoEventWireup="true" CodeBehind="BlogMasterPage.master.cs" Inherits="hotelrichardweb.BlogMasterPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

</asp:Content>

